/* Normal desktop :992px. */
@media (min-width: 1201px) and (max-width: 1500px) {
.single-slider {
  padding: 170px 0;
}

}/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.single-slider {
  padding: 170px 0;
}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu ul li a {
  padding: 24px 5px;
  font-size: 14px;
}
  
.s-body:nth-child(3) {
  max-width: 10%;
  flex: 0 0 10%;
}
.s-body:last-child {
  max-width: 19%;
  flex: 0 0 19%;
}
.s-body:nth-child(4) {
  max-width: 40%;
  flex: 0 0 40%;
}
.s-body a {
  padding: 17px 8px;
  font-size: 13px;
}
.s-body:first-child {
}
.top-right li span {
  font-size: 12px;
}
.top-right li a {
  font-size: 12px;
}
.top-right li {
  line-height: 33px;
}
.single-slider {
  padding: 150px 0;
}
.mt-sm-50{margin-top:50px;}
.Flickr-list > li {
  width: inherit;
}
.footer-area .Flickr-list > li {
  width: 33.33%;
}



}

/* small mobile :320px. */
@media (max-width: 767px) {
/* .container {width:300px} */
.single-slider {
  padding: 100px 0;
}
.slider-active .owl-nav div {
  font-size: 27px;
  height: 40px;
  line-height: 36px;
  width: 40px;
}
.slider-text h1 {
  font-size: 28px;
  line-height: 41px
}
  .logo img {
	max-height: 30px;
}
.slider-text p {
  display: none;
  font-size: 13px;
  line-height: 23px;
}
.slider-text a {
  font-size: 12px;
  padding: 7px 12px;
}
.portfolio-filter li {
  margin: 3px 4px;
}
.social-icons.text-center > a {
  margin: 0 2px;
 }
.single-counter {
  width: 50%;
}
 
.chart_header {
  display: block;
  background: #fba200 !important;
  text-align: center;
  padding: 20px 0;
}
.s-body.s-header {
  width: 100% !important;
  max-width: 100% !important;
}
.s-body h2 {
  padding: 9px 0;
}
.s-body {
  max-width: 100% !important;
  flex: 0 0 100% !important;
  border: 0 !important;
  width: 100% !important;
}
  .s-body:nth-child(3) {
	padding-top: 22px !important;
}
.chart_row {
  display: block;
  border-bottom: 1px solid rgba(184,184,184,1);
  padding-bottom: 33px;
  background: #fff;
}
.s-body h4 {
  padding: 0 0 0px 0 !important;
  margin: 0;
}
.s-body:first-child h4 {
  padding: 31px 0 20px !important;
}
.s-body a {
  margin: 0;
}
.nav-f {
  display: block;
  justify-content: center;
  text-align: center;
}
.nav-f li {
  margin: 0 0 13px 0;
}
 
.chart_row .s-body:first-child {
  padding: 26px 0 20px;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
} 
 

